Data analysis with data from the Federal Reserve Bank of st. Louis.

In [19]:
#importing packages 
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import ipywidgets as widgets
import numpy as np
import datetime
from matplotlib_venn import venn2

# autoreload modules when code is run
%load_ext autoreload
%autoreload 2

import pandas_datareader

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

importing tables from the FRED source, we have chosen 1-Year Treasury Constant Maturity Rate (DGS1), 10-Year Treasury Constant Maturity Rate (DGS10) and Wilshire 5000 Full Cap Price Index (Will5000prfc) where all the timeseries end in 25th of March 2020. Note the different starttime, this will be corrected for in the code later.

In [4]:
#importing timeseries
rente_1 = pandas_datareader.data.DataReader('DGS1', 'fred', datetime.datetime(1962,1,1), datetime.datetime(2020,3,25))
rente_10 = pandas_datareader.data.DataReader('DGS10', 'fred', datetime.datetime(1962,1,1), datetime.datetime(2020,3,25))
sp500 = pandas_datareader.data.DataReader('Will5000prfc', 'fred', datetime.datetime(1970,1,1), datetime.datetime(2020,3,25))

In [5]:
rente_1
rente_10
sp500

            Will5000prfc
DATE
1970-12-31        830.27
1971-01-01           NaN
1971-01-04           NaN
1971-01-05           NaN
1971-01-06           NaN
...                  ...
2020-03-19      24064.36
2020-03-20      23082.46
2020-03-23      22463.62
2020-03-24      24542.52
2020-03-25      24878.59

[12845 rows x 1 columns]

In [13]:
mellemregning = pd.merge(sp500,rente_1, how ='outer', left_index=True, right_index=True)

samlet=pd.merge(mellemregning,rente_10, how ='outer', left_index=True, right_index=True)
samlet.head()

            Will5000prfc  DGS1  DGS10
DATE
1962-01-02           NaN  3.22   4.06
1962-01-03           NaN  3.24   4.03
1962-01-04           NaN  3.24   3.99
1962-01-05           NaN  3.26   4.02
1962-01-08           NaN  3.31   4.03

In [18]:
samlet = samlet.rename(columns = {'Will5000prfc':'stocks','DGS1':'1y-treasure','DGS10':'10y-treasure'})
samlet

              stocks  1y-treasure  10y-treasure
DATE
1962-01-02       NaN         3.22          4.06
1962-01-03       NaN         3.24          4.03
1962-01-04       NaN         3.24          3.99
1962-01-05       NaN         3.26          4.02
1962-01-08       NaN         3.31          4.03
...              ...          ...           ...
2020-03-19  24064.36         0.20          1.12
2020-03-20  23082.46         0.15          0.92
2020-03-23  22463.62         0.17          0.76
2020-03-24  24542.52         0.25          0.84
2020-03-25  24878.59         0.19          0.88

[15192 rows x 3 columns]